In [1]:
import pandas as pd
import numpy as np

np.random.seed(123)

In [2]:
from env import user, password, host

## Create a function named get_db_url. It should accept a username, hostname, password, and database name and 
## return a url connection string formatted like in the example at the start of this lesson.
def get_db_url(user, password, host, db_name):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
    
url = get_db_url = get_db_url(user, password, host, 'employees')

In [3]:
## 4. Use your function to obtain a connection to the employees database.
pd.read_sql(' SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

## Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

In [4]:
## 5a. You get an error when you run the connection to the employees database

In [5]:
## 5b. You get an error for syntax

In [9]:
## 6. Read the employees and titles tables into two separate DataFrames.
employees = get_db_url(user, host, password, 'employees', 'select * from employees')
employees.head(5)

TypeError: 'str' object is not callable

In [7]:
## 7. How many rows and columns do you have in each DataFrame? Is that what you expected?
employees.shape

NameError: name 'employees' is not defined

In [8]:
############### EXERCISE SET2

In [ ]:
## 1. Copy the users and roles DataFrames from the examples above.
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

In [ ]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

In [ ]:
## 2. What is the result of using a right join on the DataFrames?
# ex. left_df.merge(right_df, how='inner', on=None, left_on=None, right_on=None, 
# left_index=False, right_index=False, indicator=False)

users.merge(roles, how='right', on='id', indicator= True)
# This included everying in the roles and what roles and users df's had in common

In [ ]:
## 3. What is the result of using an outer join on the DataFrames?

users.merge(roles, how='outer', left_on='role_id', right_on='id', indicator= True)
# This included data that was in either df and that in both so all info included

In [ ]:
## 4. What happens if you drop the foreign keys from the DataFrames and try to merge them?
# drop the column id in each df that is a foreign key
# ex. data = data.drop(columns="area")
mod_users = users.drop(columns='role_id')
mod_roles = roles.drop(columns='id')
# merge the modified df's
mod_users.merge(mod_roles, how='outer', left_on='role_id', right_on='id', indicator= True)
# when i merge in python for the on how do i list role_id and id
# gives me an error because I dropped the key columns that united the df to be able to merge

In [ ]:
## 5. Load the mpg dataset from PyDataset.
from pydataset import data
mpg = data('mpg')

In [ ]:
## 6. Output and read the documentation for the mpg dataset.
mpg.head()

In [ ]:
## . How many rows and columns are in the dataset?
mpg.shape

In [ ]:
## 8.  Check out your column names and perform any cleanup you may want on them.
mpg

In [ ]:
mpg.columns
data('mpg', show_doc=True)

In [ ]:
##df2_tidy = df2_melted.rename(columns = {'variable': 'Year', 'value': 'Income'}, inplace = False)
mpg_explained = mpg.rename(columns = {'displ': 'displacement', 'fl': 'fuel'})
print(mpg_explained)

In [ ]:
## 9. Display the summary statistics for the dataset.
mpg.describe()

In [ ]:
## 10. How many different manufacturers are there?

num_of_man = mpg.groupby('manufacturer').count()
print(num_of_man)
mpg.manufacturer.unique().size

In [ ]:
## 11. How many different models are there?

num_of_mods = mpg.groupby('model').count()
print(num_of_mods)
mpg.model.unique().size

In [ ]:
## 12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should 
## contain the difference between highway and city mileage for each car.
# use .abs

In [ ]:
## 13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the 
## city and highway mileage.
#create a df with two columns and find average

In [ ]:
## 14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the 
## car has an automatic transmission.

# df.str.contains"auto"
# or .startswith

In [ ]:
## 15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?
# for each manufacturer calculate the mpg
# group by manufacturer
mpg.groupby('manufacturer').average_mileage.mean()
# recreate average_mileage column
--------DO THIS PART
# get the key associated with the max value
manufacturer_avg_mpg.idxmax()
#answer is honda 28.5

In [ ]:
## 16. Do automatic or manual cars have better miles per gallon?
# group by trans then use average_mileage.mean()
# manuals = df[~df.is_automatic]  means give me everything that is not is_automatic == True
# or df[df.is_automatic == False]

In [ ]:
#### EXERCISE SET 3

In [ ]:
## 1. Use your get_db_url function to help you explore the data from the chipotle database.
def get_db_url(user, password, host, db_name):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
url = get_db_url = get_db_url(user, password, host, 'chipotle')
chipotle = pd.read_sql(' SELECT * FROM orders', url)

In [ ]:
## 2. What is the total price for each order?
# group by order_id and multiply quantity by item_price
# df.groupby('classroom').math.max()

# change item_price back to float to perform math
# ex. df['DataFrame Column'] = df['DataFrame Column'].astype(float)
chipotle['item_price']= chipotle['item_price'].astype(float)
chipotle