In [18]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

fruit_series = pd.Series(fruits)
print(fruit_series)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [19]:
## 1. Determine the number of elements in fruits.
fruit_series.describe()
print(fruit_series.describe())

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [26]:
## 2. Output only the index from fruits.
fruit_series.index
print(list(fruit_series.index))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [27]:
## 3. Output only the values from fruits.
print(fruit_series.values)

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'kiwi' 'kiwi' 'kiwi' 'mango' 'blueberry'
 'blackberry' 'gooseberry' 'papaya']

In [ ]:
## 4. Confirm the data type of the values in fruits.

In [28]:
pd.unique(fruits)
values = fruit_series.values
print(values.dtype)

object

In [33]:
## 5. Output only the first five values from fruits. Output the last three values. Output two random values 
## from fruits.
fruit_series.head(5)
print(fruit_series.head(5))

print(fruit_series.tail(3))

print(fruit_series.sample(2))

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object
14    blackberry
15    gooseberry
16        papaya
dtype: object
15    gooseberry
0           kiwi
dtype: object

In [34]:
## 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fruit_series.describe()
print(fruit_series.describe())

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [36]:
## 7. Run the code necessary to produce only the unique string values from fruits.
fruit_series.unique
print(fruit_series.unique())

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'blueberry' 'blackberry' 'gooseberry'
 'papaya']

In [40]:
## 8. Determine how many times each unique string value occurs in fruits.
unique_values = fruit_series.value_counts()
print(unique_values)

kiwi                4
mango               2
honeydew            1
gala apple          1
papaya              1
honeycrisp apple    1
blackberry          1
tomato              1
gooseberry          1
strawberry          1
blueberry           1
watermelon          1
pineapple           1
dtype: int64

In [42]:
## 9. Determine the string value that occurs most frequently in fruits.
print(fruit_series.describe())

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [49]:
## 10. Determine the string value that occurs least frequently in fruits.

print(fruit_series.value_counts().sort_values())

honeydew            1
gala apple          1
papaya              1
honeycrisp apple    1
blackberry          1
tomato              1
gooseberry          1
strawberry          1
blueberry           1
watermelon          1
pineapple           1
mango               2
kiwi                4
dtype: int64

In [ ]:
########################################EXERCISE SET 2

In [55]:
## 1. Capitalize all the string values in fruits.
fruit_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [57]:
## 2. Count the letter "a" in all the string values (use string vectorization).

fruit_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [89]:
## 3. Output the number of vowels in each and every string value.
## count vowels
vowels = ['a','e','i','o','u']
def count_vowels(fruit):
    return len([let for let in fruit.lower() if let in vowels])

count_vowels('fruit')

2

In [90]:
## 3. Alternative solution
def count_vowels(string):
    vowels = ['a' 'e', 'i', 'o', 'u']
    count = 0
    for let in string:
        if let in vowels:
            count +=1
    return count


count_vowels('fruit')

2

In [ ]:
## EXERCISE SET 3
numbers_series = pd.Series([100, 43, 26, 17, 17])

In [133]:
let =  'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
letters = pd.Series([let])
type(letters)

pandas.core.series.Series

In [96]:
## 1. Which letter occurs the most frequently in the letters Series?
import collections

print(collections.Counter(let).most_common(1)[0])

('y', 13)

In [99]:
## 2. Which letter occurs the Least frequently?

min(collections.Counter(let))

'a'

In [105]:
## 3. How many vowels are in the Series?
#str.count(s)
letters.str.count('a')
letters.str.count('e')
letters.str.count('i')
letters.str.count('o')
letters.str.count('u')

0    5
dtype: int64

In [106]:
## 4.  How many consonants are in the Series?

str1 = input("Please Enter Your Own String : ")
vowels = 0
consonants = 0

for i in str1:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'
       or i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U'):
        vowels = vowels + 1
    else:
        consonants = consonants + 1
 
print("Total Number of Vowels in this String = ", vowels)
print("Total Number of Consonants in this String = ", consonants)

Please Enter Your Own String : hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy
Total Number of Vowels in this String =  34
Total Number of Consonants in this String =  166

In [116]:
## 5. Create a Series that has all of the same letters but uppercased.

letters.str.upper()

0    HNVIDDUCKKQXWYMBIMKCCEXBKMQYGKXOYNDMCXNWQARHYF...
dtype: object

In [117]:
## 6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.
print(collections.Counter(let).most_common()

('y', 13)

In [131]:
## 7. Create a bar plot of the frequencies of the 6 most commonly occuring letters.
letters.nlargest(n=6)

TypeError: Cannot use method 'nlargest' with dtype object