In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv (r'/Users/sarahwoods/codeup-data-science/numpy-pandas-visualization-exercises/Telcodata.csv')

In [10]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Excel functions -> Exercise1.3,Excel functions -> Exercise1.4,Excel functions -> Exercise2,Excel functions -> Exercise3,Excel functions -> Exercise4,Excel functions -> Exercise4.1,Excel functions -> Exercise5,Excel functions -> Exercise5.1,Excel functions -> Exercise5.2,Excel Viz -> Exercise1
0,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependents,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,service_type
1,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),$56.05,...,TRUE,FALSE,3,20200211,$0.00,FALSE,2 Year,No Phone Service,DSL,Internet Only
2,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,$20.00,...,FALSE,FALSE,3,20200211,$0.00,FALSE,2 Year,One Line,No Internet Service,Phone Only
3,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),$61.90,...,TRUE,TRUE,2,20200211,$0.00,FALSE,2 Year,Two or More Lines,DSL,Phone+Internet
4,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,$19.70,...,FALSE,FALSE,3,20200211,$0.00,FALSE,1 Year,One Line,No Internet Service,Phone Only